.terrain {
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 70%;
}
.options {
    grid-column: 1;
    height: 100%;

    display: grid;
    grid-template-columns: 21% 1fr 21%;
    grid-template-rows: 21.2% 1fr 26.9%;
}
.logo {
    grid-column: 1/4;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
}
.input-table {
    grid-row: 2;
    grid-column: 2;

    display: grid;
    grid-template-rows: 53px 53px 40px 40px 40px;
    grid-row-gap: 16px;
}
.input-table__title {
    display: inline-grid;
    align-items: center;
    text-align: center;

    grid-row: 1;
}
.input-table__error-info {
    display: inline-grid;
    align-items: center;
    text-align: center;
}
.input-table__link {
    display: inline-grid;
    align-items: center;
    text-align: center;
}
.input-table__link-info {
    display: inline-grid;
    align-items: center;
    text-align: center;
}

.menu {
    padding-left: 10px;
    padding-right: 10px;

    outline: none;
}

.menu-item {
    padding-left: 10px;
    padding-right: 10px;

    outline: none;
}

.result {
    grid-column: 2;
}
.table {
    display: grid;
    margin: auto;
    width: 60%;
    height: 20%;
}
.table__block {
    margin: auto;
}
.table__pic {
    margin: auto;
}
